RHT_OCP4_MASTER_API=https://api.na45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.na45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na45.prod.nextcle.com
RHT_OCP4_DEV_USER=ckarande-dtcc-com
RHT_OCP4_DEV_PASSWORD=ca736bacbe274b898d0b
RHT_OCP4_GITHUB_USER=ckarande
RHT_OCP4_QUAY_USER=ckarande
